.text--green {
}
.text--red {
}
.btn-prev,
.btn-next {
}
.swiper-three-column {
    width: 100%;
    height: 100%;
    .swiper-three-column__header {
        .title-slide {
            margin-top: 50px;
            margin-bottom: 43px;
            .title-slide__text {
                font-weight: 500;
                font-size: 36px;
                line-height: 46px;
                color: #141414;
            }
        }
    }
    .swiper-three-column__body {
        .swiper-slide.img-slide-view {
            img {
                width: 100%;
            }
        }
        .swiper-slide {
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            .slide-container {
                .slide-item {
                    .slide-item__sub {
                        .slide-item__sub_img {
                        }
                        .slide-item__sub_title {
                            .title-header {
                                .title-header__logo {
                                }
                                .title-header__text {
                                }
                            }
                            .title-body {
                                .title-body__text {
                                }
                            }
                        }
                        .time-views {
                        }
                    }
                }
            }
        }
    }
}
