@font-face{
    src: url(../../fonts/Montserrat-Light.ttf);
    font-family: montserrat;
}
#contact{
    font-family: montserrat;
    .cross-all{
        margin-top: 150px;
        .img-cross{
            // opacity: 0;
            // animation: runimgtop 0.5s forwards;
            transition: 0.8s;
        }
        h1{
            font-size: 64px;
            background: -webkit-linear-gradient(13deg, #FF0000 -3.56%, #FF9900 104.7%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
        }
        p{
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: #616161;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .see-more{
            background: linear-gradient(9.38deg, #FF0000 -3.56%, #FF9900 104.7%);
            border-radius: 2px;
            width: 218px;
            color: white;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            &:focus{
                box-shadow: none;

            }
        }
        .text-stop{
            font-weight: 900;
            font-size: 20px;
            line-height: 26px;
            color: #616161;
        }
    }
    // @keyframes runimgtop {
    //     from{
    //         transform: translateX(0px);
    //         opacity: 0;
    //     }
    //     to{
    //         transform: translateX(-100px);
    //         opacity: 1;
    //     }
    // }
    .speed-up{
        .title-speed{
            h2{
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 46px;
                color: #616161;
                
            }
        }
        .text-speed{
            font-size: 20px;
            line-height: 26px;
            color: #616161;
        }
        .text-speed-right{
            font-size: 20px;
            line-height: 26px;
            color: #616161;
            text-align: end;
        }
    }
    .text-gra{
        background: -webkit-linear-gradient(13deg, #FF0000 -3.56%, #FF9900 104.7%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .look-up{
        margin-top: 80px;
        .title-look-up{
            h2{
                font-weight: 500;
                font-size: 36px;
                line-height: 46px;
            }
        }
        .text-look{

            p{
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: -0.1px;
            }
        }
        .see{
            font-size: 16px;
            line-height: 24px;
        }
        .email-for-wolf{
            p{
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: #B9B9B9;
            }
            .form{
                input{
                    width: 350px;
                    border: 2px solid;
                    border-image-slice: 1;
                    border-width: 4px;
                    border-radius: 6px;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    border-image-source:linear-gradient(13deg, #FF0000 -3.56%, #FF9900 104.7%); 
                    &::placeholder {
                        background: -webkit-linear-gradient(13deg, #FF0000 -3.56%, #FF9900 104.7%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                      }
                      
                    &:-ms-input-placeholder { 
                        background: -webkit-linear-gradient(13deg, #FF0000 -3.56%, #FF9900 104.7%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                      }
                      
                    &::-ms-input-placeholder { 
                        background: -webkit-linear-gradient(13deg, #FF0000 -3.56%, #FF9900 104.7%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                      }
                }
                .send{
                    cursor: pointer;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background:linear-gradient(13deg, #FF0000 -3.56%, #FF9900 104.7%);
                    i{
                        color: white;
                        font-size: 30px;
                    }
                }
            }
            
        }
    }
    .feedback{
        margin-bottom: 80px;
        .form-feedback{
            .title-feedback{
                h2{
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 46px;
                    color: #616161;
                }
            }
            p{
                font-size: 16px;
                line-height: 24px;
                color: #616161;
            }
            .form{
                input{
                    padding: 15px;
                    border-radius: 6px;
                    border: none;
                    background: #F3F3F3;
                    border-radius: 8px;
                }
                textarea{
                    padding: 15px;
                    border-radius: 6px;
                    border: none;
                    background: #F3F3F3;
                    border-radius: 8px;
                }
                .btn-submit{
                    padding: 14px 50px;
                    background:linear-gradient(13.35deg, #FF0000 -3.56%, #FF9900 104.7%);
                    color: white;
                    border-radius: 8px;
                    &:hover{
                        text-decoration: none;
                    }
                }

            }
            
        }
        .info{
            .item-info{
                
                .text-info{
                    background: -webkit-linear-gradient(4.99deg, #FF0000 -3.56%, #FF9900 104.7%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.1px;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.1px;
                    color: #616161;
                }
            }
            .title-info{
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.2px;
                text-transform: uppercase;
                color: #616161;
            }
        }
    }
}
@media (max-width: 576px) { 
    .cross-all{
        margin-top: 50px !important;
        h1{
            font-size: 40px !important;
        }
        p{
            font-size: 18px !important;
        }
        .img-cross{
            margin-top: 25px;
            display: flex !important;
            justify-content: center !important;
            img{
                width: 95%;
            }
        }
    }
    .speed-up{
        .title-speed{
            h2{
                font-size: 30px !important;
                padding-bottom: 0px !important;
            }
        }
        .text-speed, .text-speed-right{
            font-size: 18px !important;
            text-align: justify !important;
        }
        .img-speed, .img-speed-right {
            margin-bottom: 15px !important;
            display: flex !important;
            justify-content: center !important;
            img{
                width: 90%;
            }
        }
        .row-speed{
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }
    .look-up{
        margin-top: 30px !important;
        .row-qc{
            margin: 0 !important;
            justify-content: center !important;
            .icon-qc{
                display: flex !important;
                justify-content: center !important;
                margin-bottom: 30px !important;
            }
        }
        .email-for-wolf {
            .form input {
                width: 270px !important;
        }
    }
        
    }
    .feedback{
        .info{
            margin-top: 40px !important;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width:577px) and (max-width: 768px) { 
    .cross-all{
        margin-top: 50px !important;
        h1{
            font-size: 50px !important;
        }
        p{
            font-size: 20px !important;
        }
        .img-cross{
            margin-top: 25px;
            display: flex !important;
            justify-content: center !important;
            img{
                width: 95%;
            }
        }
    }
    .speed-up{
        .title-speed{
            h2{
                font-size: 30px !important;
                padding-bottom: 0px !important;
            }
        }
        .text-speed, .text-speed-right{
            font-size: 20px !important;
            text-align: justify !important;
        }
        .img-speed, .img-speed-right {
            margin-bottom: 15px !important;
            display: flex !important;
            justify-content: center !important;
            img{
                width: 90%;
            }
        }
        .row-speed{
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }
    .look-up{
        margin-top: 30px !important;
        .row-qc{
            margin: 0 !important;
            flex-wrap: wrap !important;
            justify-content: center !important;
            .icon-qc{
                display: flex !important;
                margin-bottom: 30px !important;
                // justify-content: center !important;
                img{
                    width: 90% !important;
                }
            }
        }
        .email-for-wolf {
            .form input {
                width: 350px !important;
        }
    }
        
    }
    .feedback{
        .info{
            margin-top: 40px !important;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) and (min-width: 768px) { 
    .cross-all{
        margin-top: 50px !important;
        h1{
            font-size: 40px !important;
        }
        p{
            font-size: 20px !important;
        }
        .img-cross{
            margin-top: 25px;
            display: flex !important;
            justify-content: center !important;
            img{
                width: 95%;
            }
        }
    }
    .speed-up{
        .title-speed{
            h2{
                font-size: 30px !important;
                padding-bottom: 0px !important;
            }
        }
        .text-speed, .text-speed-right{
            font-size: 20px !important;
            // text-align: justify !important;
        }
        .img-speed, .img-speed-right {
            margin-bottom: 15px !important;
            // display: flex !important;
            // justify-content: center !important;
            img{
                width: 90%;
            }
        }
        .row-speed{
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }
    .look-up{
        margin-top: 30px !important;
        .row-qc{
            margin: 0 !important;
            // flex-wrap: wrap !important;
            // justify-content: center !important;
            .icon-qc{
                display: flex !important;
                margin-bottom: 30px !important;
                // justify-content: center !important;
                img{
                    width: 90% !important;
                }
            }
        }
        .email-for-wolf {
            .form input {
                width: 350px !important;
        }
    }
        
    }
    .feedback{
        .info{
            margin-top: 40px !important;
        }
    }
 }

@media (max-width: 1245px) and (min-width: 993px) { 
    .cross-all{
        .img-cross{
            img{
                width: 98%;
            }
        }
    }

 }
 