#education{
    font-family: montserrat;
    .education-top {
        margin-top: 100px;
        .img-new-top {
            img {
                width: 100%;
            }
        }
        .text-new-top {
            .text-header {
                .logo-header {
                    width: 5%;
                    img {
                        width: 100%;
                    }
                    margin-right: 15px;
                }
                .border-new-top{
                    img{
                        width: 40%;
                    }
                }
                h3 {
                    font-size: 12px;
                    line-height: 18px;
                    background: -webkit-linear-gradient((10.19deg, #FF0000 -3.56%, #FF9900 104.7%));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // border-left: 3px solid #eb5757;
                    // border-image:linear-gradient(76.27deg, #FF0000 -3.56%, #FF9900 104.7%);
                    padding-left: 15px;
                    margin: 0;

                }
            }
            .title-new {
                a {
                    h2 {
                        font-weight: 500;
                        font-size: 36px;
                        line-height: 46px;
                        color: #141414;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .content-new {
                p {
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.1px;
                    color: #141414;
                }
            }
        }
    }
    .time-views {
        font-size: 12px;
        line-height: 18px;
        color: #b9b9b9;
    }
    .blog-management, .vocational-guidance, .news-blog{
        .swiper-container {
            width: 100%;
            height: 100%;

            .title-slide {
                margin-top: 50px;
                margin-bottom: 43px;
                h2 {
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 46px;
                    color: #141414;
                }
                h4 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 46px;
                    color: #141414;
                }
            }
        }
        .swiper-slide {
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            .img-slide-view {
                img {
                    width: 100%;
                }
            }

            .slide-library {
                .img-news {
                    padding: 5px;
                    img {
                        width: 100px;
                        height: 85px;
                    }
                }
                .text-header {
                    .logo-header {
                        width: 7%;
                        img {
                            width: 100%;
                        }
                        margin-right: 15px;
                    }
                    .text-green {
                        font-size: 12px;
                        line-height: 18px;
                        color: #27ae60;
                        // border-left: 3px solid #27ae60;
                        padding-left: 15px;
                        margin: 0;
                    }
                    .text-red {
                        font-size: 12px;
                        line-height: 18px;
                        color: #eb5757;
                        // border-left: 3px solid #eb5757;
                        padding-left: 15px;
                        margin: 0;
                    }
                    
                }
                a {
                    h3 {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: -0.2px;
                        color: #141414;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                .time-views {
                    font-size: 12px;
                    line-height: 18px;
                    color: #b9b9b9;
                }
                .slide-library-item-center {
                    padding-top: 70px;
                    padding-bottom: 70px;
                }
                .slide-library-item-centers {
                    padding-top: 40px;
                    padding-bottom: 70px;
                }
            }
        }
    }
    .btn-next,
    .btn-prev {
        i {
            font-size: 25px;
            color: #b9b9b9;
        }
        cursor: pointer;
    }
    .bg-gray {
        background-color: #f3f3f3;
    }
    .blog-management, .vocational-guidance, .news-blog {
        margin-top: 30px;
        margin-bottom: 30px;
        
        .tite-slide-busi {
            margin-top: 10px !important;
            margin-bottom: 5px !important;
        }
        .busi-new {
            .busi-item {
                .text-busi {
                    padding: 0 7px;
                    width: 343px;
                }
                .text-header {
                    .logo-header {
                        width: 7%;
                        img {
                            width: 100%;
                        }
                        margin-right: 15px;
                    }
                    .text-red {
                        font-size: 12px;
                        line-height: 18px;
                        color: #eb5757;
                        border-left: 3px solid #eb5757;
                        padding-left: 15px;
                        margin: 0;
                    }
                }
                a {
                    h3 {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: -0.2px;
                        color: #141414;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                .time-views {
                    font-size: 12px;
                    line-height: 18px;
                    color: #b9b9b9;
                }
            }
        }
        .swiper-slide {
            margin-top: 0 !important;
        }
        .swiper-slide-duplicate-prev {
            margin-top: 0 !important;
            
        }
    }
}
@media (max-width: 768px) {
    #education {
        .education-top {
            margin-top: 50px !important;

            .text-new-top {
                .text-header {
                    margin-top: 15px !important;
                }
                .title-new {
                    a {
                        h2 {
                            font-size: 30px !important;
                        }
                    }
                }
            }
        }
        .blog-management, .vocational-guidance, .news-blog {
            .busi-new {
                .busi-item {
                    display: flex !important;
                    .img-busi{
                        width: 100px;
                        height: 85px;
                    }
                    .text-busi {
                        width: 260px;
                        padding-top: 0 !important;
                        .title-new{
                            a{
                                h3{
                                    font-size: 16px !important;
                                }
                            }
                        }
                    }
                }
            }
            .slide-library-item {
                .library-item-sub {
                    a {
                        h3 {
                            font-size: 16px !important;
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
        .swiper-slide {
            margin-top: 0 !important;
        }
        .swiper-slide-duplicate-prev {
            margin-top: 0 !important;
        }
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    #education {
        .education-top {
            margin-top: 50px !important;
        }
    }
}
@media (max-width: 1023px) and (min-width: 992px) {
    #education {
        .blog-management, .vocational-guidance, .news-blog{
            .busi-new {
                .swiper-slide {
                    margin-top: 0;
                }
                .busi-item {
                    .img-busi {
                        width: 95%;
                    }
                    .text-busi {
                        width: 320px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1199px) and (min-width: 1024px) {
    #education {
        .blog-management, .vocational-guidance, .news-blog {
            .busi-new {
                .swiper-slide {
                    margin-top: 0;
                }
                .busi-item {
                    .img-busi {
                        width: 95%;
                    }
                    .text-busi {
                        width: 300px;
                    }
                }
            }
        }
    }
}
@media (max-width: 460px) {
    #education {
        .blog-management, .vocational-guidance, .news-blog {
            .busi-new {
                .swiper-slide {
                    margin-top: 0;
                }
                .busi-item {
                    display: flex;
                    align-items: end;
                    .img-busi {
                        width: 100px;
                        height: 85px;
                        padding: 5px;
                    }
                    .title-new {
                        h3 {
                            font-size: 16px;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }
}