#footer{
    padding: 40px 0;
    background-color: black;
    .title{
        font-weight: 600;
        color: #DEDEDE;
        font-size: 16px;
        line-height: 22px;
    }
    ul{
        justify-content: space-between;
        a{
            padding-bottom: 7px;
            color: #DEDEDE;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .final-footer{
        ul{
            justify-content: space-between;
            li{
                a{
                    font-size: 12px;
                    line-height: 18px;
                    color: #616161;
                }
            }
        }
        .copyright{
            padding-top: 12px;
            font-size: 12px;
            line-height: 18px;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image:linear-gradient(10.19deg, #FF0000 -3.56%, #FF9900 104.7%);
        }
    }
}
@media (max-width: 768px){
    #footer{
        padding: 40px 0;
        background-color: black;
        .title{
            font-weight: 600;
            color: #DEDEDE;
            font-size: 12px;
            line-height: 14px;
        }
        ul{
            justify-content: initial !important;
            a{
                font-size: 12px;
                line-height: 18px;
                margin-right: 15px;
            }
        }
    }
}