header {
    background: #141414;
    .nav-container {
        padding: 0 11rem;
    }
    .navbar {
        padding: 0.3rem 1rem;
    }
    .nav-link {
        color: #ffffff !important;
        transition: 0.3s;
        font-size: 16px;
        padding-right: 0.85rem !important;
    }
    .active{
        font-weight: 700;
    }
    .navbar-default {
        .navbar-light {
            .logo {
                width: 15% ;
                img {
                    width: 100%;
                }
            }
        }
    }
    #search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(7%, -50%);
    }
    .input-search {
        border: none;
        outline: none;
    }
    input[type="search"].input-search {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
    }
    input.input-search::-webkit-search-decoration,
    input.input-search::-webkit-search-cancel-button {
        display: none;
    }

    input[type="search"].input-search {
        background: #141414 url(../images/icon-search.png) no-repeat 8px center;
        /* border: solid 1px #ccc; */
        padding: 9px 10px 9px 32px;
        width: 55px;
        background-size: 20px;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;

        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    input[type="search"].input-search:focus {
        width: 130px;
        background-color: #141414;
        /* border-color: #66CC75; */
        -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
        box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    }

    input.input-search:-moz-placeholder {
        color: #fff;
    }
    input.input-search::-webkit-input-placeholder {
        color: #fff;
    }
    #search input[type="search"].input-search {
        width: 22px;
        padding-left: 10px;
        color: transparent;
        cursor: pointer;
    }
    #search input[type="search"].input-search:hover {
        background-color: #141414;
    }
    #search input[type="search"].input-search:focus {
        width: 130px;
        padding-left: 32px;
        color: #fff;
        background-color: #141414;
        cursor: auto;
    }
    #search input:-moz-placeholder {
        color: transparent;
    }
    #search input::-webkit-input-placeholder {
        color: transparent;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    #menu {
        padding-left: 15px !important;
        width: 240px !important;
    }
    #menuToggle {
        display: block;
        position: absolute;
        top: 18px;
        left: 50px;

        z-index: 1;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;

        -webkit-transition: color 0.3s ease;

        transition: color 0.3s ease;
    }

    #menuToggle input.input-check {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        z-index: 2;

        -webkit-touch-callout: none;
    }
    #menuToggle span {
        display: block;
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;

        background: #ffffff;

        z-index: 1;

        -webkit-transform-origin: 4px 0px;

        transform-origin: 4px 0px;

        -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
            -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
            -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            opacity 0.55s ease;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    #menuToggle span:first-child {
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    #menuToggle input.input-check:checked ~ span {
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(-2px, -1px);
        transform: rotate(45deg) translate(-2px, -1px);
        background: #ffffff;
    }
    #menuToggle input.input-check:checked ~ span:nth-last-child(3) {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(0.2, 0.2);
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input.input-check:checked ~ span:nth-last-child(2) {
        -webkit-transform: rotate(-45deg) translate(0, -1px);
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: #242424;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        -webkit-transform-origin: 0% 0%;

        transform-origin: 0% 0%;
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);

        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    #menu li {
        padding: 10px 0;
        font-size: 16px;
        color: #ffffff;
    }
    #menuToggle input.input-check:checked ~ ul {
        -webkit-transform: none;
        transform: none;
    }
    #menuToggle{
        #search{
            transform: translate(-40%, 11%);
        }
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header{
        .nav-container{
            padding: 0 !important;
        }
        .navbar-default{
            display: flex;
            justify-content: center;
        }
        .navbar-light{
            a{
                width: 150px !important;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header{
        .nav-container{
            padding: 0 !important;
        }
        .navbar-light{
            display: flex;
            justify-content: center;
            a{
                width: 30% !important;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        .nav-container {
            .menu-header {
                display: none !important;
            }
            .nav-link{
                margin-left: 0 !important;
            }
        }
        #menuToggle {
            display: block !important;
        }
        #search {
            input[type="search"].input-search:focus {
                width: 100px !important;
            }
        }
        .navbar-light{
            display: flex;
            justify-content: center;
            a{
                width: 15% !important;
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 890px) {
    header {
        .nav-container {
            padding: 0 10rem 0 3rem !important;
            .menu-header {
                display: flex !important;
            }
            .nav-item {
                .nav-link {
                    display: unset;
                    font-size: 16px;
                }
            }
        }
        #menuToggle {
            display: none !important;
        }
        .navbar-light{
            a{
                width: 13%;
            }
        }
    }
}
@media only screen and (max-width: 960px) {
    header {
        .nav-item {
            .nav-link {
                display: unset;
                font-size: 16px !important;
            }
        }
        
    }
}
@media only screen and (min-width: 1260px) {
    header{
        .nav-container{
            padding: 0 10rem 0 11rem !important;
        }
        .navbar-light{
            a{
                width: 13% !important;
            }
        }
    }
} 