body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}
a:hover{
    text-decoration: none !important;
}
img{
    vertical-align: initial !important;
}
#index{
    .sub-title{ 
        a{
            font-size: 12px;
            line-height: 18px;
            display: inline-block;
            cursor: pointer;
        }
        .border-background{
            margin: 6px 6px;
            width: 1px;
        }
    }
    .woffbill-news{
        a{
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image:linear-gradient(10.19deg, #FF0000 -3.56%, #FF9900 104.7%);
        }
        .border-background{
            background-image: linear-gradient(10.19deg, #FF0000 -3.56%, #FF9900 104.7%); 
        }
    }
    .education{
        a{
            color: #9B51E0;
            text-transform: uppercase;
        }
        .border-background{
            background: #9B51E0;
        }
    }
    .event{
        a{
            color: #FF0000;
            text-transform: uppercase;
        }
        .border-background{
            background: #FF0000;
        }
    }
    .life{
        a{
            color: #27AE60;
            text-transform: uppercase;
        }
        .border-background{
            background: #27AE60;
        }
    }
    .header-main{
        height: 100vh;
        .slider-header{
            .swiper-button-next{
                color: white;
                right: 14%;
                top: 43%;
            }
            .slide-header{
                margin-left: auto;
                margin-right: auto;
                position: relative;
                overflow: hidden;
                list-style: none;
                padding: 0;
                z-index: 1;
            }
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
            .content-hot-new{
                padding-top: 6% !important;
                height: 100vh;
                width: 100%;
                background-image: url("../images/slider-haeder-1.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                // background-position-x: left;
                .title{
                    width: 70%;
                    a{
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: -0.1px;
                        color: #ffff;
                        
                    }
                }
                .time-views{
                    color: #B9B9B9 !important;
                }
                .sub-hot-news{
                    margin-top: 50px;
                    padding-top: 50px;
                    border-top: 1px solid rgba(255, 255, 255, 0.44);
                }
            }
            .woffbill{
                background-image: url("../images/slider-header-2.png");
            }
            .sub-title{
                div{
                    margin-right: 6px;
                }
                p{  
                    margin-top: 2px;
                    padding-left: 6px;
                    text-transform: uppercase;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            .title{
                h1{
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 60px;
                    width:75%;
                }
            }
            .more{
                color:#FFFFFF;
                a{
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: -0.1px;
                    font-style: normal;
                    font-weight: 300;
                    color: #FFFFFF;
                    border: 1px solid #FFFFFF;
                    border-radius: 2px;
                    margin-right: 10px;
                    padding: 5px 13px;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
        .section-bottom-slider{
            width: 100%;
            top: 65vh;
            z-index: 999;
            .container{
                padding-top: 30px;
                border-top: 1px solid rgba(255, 255, 255, 0.44);
                .col-3{
                    padding-right: 25px;
                    .sub-title{
                        
                        a{
                            font-size: 12px;
                            line-height: 18px;
                            display: inline-block;
                            cursor: pointer;
                        }
                        .border-background{
                            margin: 6px 6px;
                            width: 1px;
                        }
                    }
                    .woffbill-news{
                        a{
                            color: transparent;
                            background-clip: text;
                            -webkit-background-clip: text;
                            background-image:linear-gradient(10.19deg, #FF0000 -3.56%, #FF9900 104.7%);
                        }
                        .border-background{
                            background-image: linear-gradient(10.19deg, #FF0000 -3.56%, #FF9900 104.7%); 
                        }
                    }
                    .education{
                        a{
                            color: #9B51E0;
                            text-transform: uppercase;
                        }
                        .border-background{
                            background: #9B51E0;
                        }
                    }
                    .event{
                        a{
                            color: #FF0000;
                            text-transform: uppercase;
                        }
                        .border-background{
                            background: #FF0000;
                        }
                    }
                    .life{
                        a{
                            color: #27AE60;
                            text-transform: uppercase;
                        }
                        .border-background{
                            background: #27AE60;
                        }
                    }
                    .title{
                        a{
                            color: white;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: -0.1px;
                            font-style: normal;
                            font-weight: normal;
                        }
                       
                    }
                    span{
                        font-size: 12px;
                        line-height: 18px;
                        color: #B9B9B9;
                    }
                }
            }
        }
    }
    .content-woffbill{
        .title{
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 46px;
            color: #141414;
        }
        .content{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.1px;
            color: #141414;
        }
        .time-view{
            font-size: 12px;
            line-height: 18px;
            color: #B9B9B9;
        }
    }

    .educations,
    .community{
        .swiper-container {
            width: 100%;
            height: 100%;
          
            .title-slide{
                margin-top: 50px;
                margin-bottom: 43px;
                h2{
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 46px;
                    color: #141414;
                }       
                h4{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 46px;
                    color: #141414;
                }       
            }
        }
          
          .swiper-slide {
      
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            .img-slide-view{
                img{
                    width: 100%;
                }
            }
            
            .slide-library{
                .img-news{
                    padding: 5px;
                    img{
                        width: 100px;
                        height: 85px;
                    }
                }
                .text-header{
                    .logo-header{
                        width: 7%;
                        img{
                            width: 100%;    
                        }
                        margin-right: 15px;
                    }
                    .text-green{
                        font-size: 12px;
                        line-height: 18px;
                        color: #27AE60;
                        border-left: 3px solid #27AE60;
                        padding-left: 15px;
                        margin: 0;
                    }
                    .text-red{
                        font-size: 12px;
                        line-height: 18px;
                        color: #EB5757;
                        border-left: 3px solid #EB5757;
                        padding-left: 15px;
                        margin: 0;
                    }
                }
                a{
                    h3{
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: -0.2px;
                        color: #141414;
                    }
                    &:hover{
                        text-decoration: none;
                    }
                }
                .time-views{
                    font-size: 12px;
                    line-height: 18px;
                    color: #B9B9B9;
                }
                .slide-library-item-center{
                    padding-top: 70px;
                    padding-bottom: 70px;
                }
                .slide-library-item-centers{
                    padding-top: 40px;
                    padding-bottom: 70px;
                }
            }
          }
    }
    .btn-next, .btn-prev{
        i{
            font-size: 25px;
            color: #B9B9B9;
        }
        
        cursor: pointer;
    }
    .news{
        margin-top: 30px;
        margin-bottom: 30px;
        
            .tite-slide-busi{
                margin-top: 10px !important;
                margin-bottom: 5px !important;
            }
            .busi-new{
                .busi-item{
                    .text-busi {
                        padding: 0 7px;
                        width: 343px;
                    }
                    .text-header{
                        .logo-header{
                            width: 4%;
                            img{
                                width: 100%;    
                            }
                            margin-right: 15px;
                        }
                        .text-purple{
                            font-size: 12px;
                            line-height: 18px;
                            color: #9B51E0;
                            border-left: 2px solid #9B51E0;
                            padding-left: 15px;
                            margin: 0;
                        }
                    }
                    a{
                        h3{
                            font-size: 20px;
                            line-height: 30px;
                            letter-spacing: -0.2px;
                            color: #141414;
                        }
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    .time-views{
                        font-size: 12px;
                        line-height: 18px;
                        color: #B9B9B9;
                    }
                }
            }
        .swiper-slide{
            margin-top: 0 !important;
        }
        .swiper-slide-duplicate-prev{
            margin-top: 0 !important;
        }
    }


    .content-news{
        background-color: #F3F3F3;
        padding: 20px 0;
        .science{
            flex-grow: 1;
            flex-shrink: 1;
            .border-background{
                width: 1px;
                background-color: #EB5757;
                margin: 6px 6px;
            }
            a{
                color: #EB5757;
                font-size: 12px;
                line-height: 18px;
                text-transform: uppercase;
            }
            .title-science{
                font-size: 24px;
                line-height: 36px;
                color: #141414;
            }
            span{
                font-size: 12px;
                line-height: 18px;
                color: #B9B9B9;
            }
        }
        .advertisement{
            .img-banner{
                margin-bottom: 20px;
            }
            .content-adv{
                .title-content{
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.1px;
                    color: #141414;
                }
                .time-view{
                    font-size: 12px;
                    line-height: 18px;
                    color: #B9B9B9;
                }
            }
            .content-advertisement{
                padding: 20px 0;
                border-top: 1px solid #DEDEDE;
            }
        }
    }



    .library-top{
        margin-top: 100px;
        .img-new-top{
            img{
                width: 100%;
            }
        }
        .text-new-top{
            .text-header{
                .logo-header{
                    width: 4%;
                    img{
                        width: 100%;    
                    }
                    margin-right: 15px;
                }
                h3{
                    font-size: 12px;
                    line-height: 18px;
                    color: #EB5757;
                    border-left: 3px solid #EB5757;
                    padding-left: 15px;
                    margin: 0;
                }
            }
            .title-new{
                a{
                    h2{
                        font-weight: 500;
                            font-size: 36px;
                            line-height: 46px;
                            color: #141414;
                    }
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            .content-new{
                p{
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.1px;
                    color: #141414;
                }
            }
            
        }
    }
    .time-views{
        font-size: 12px;
        line-height: 18px;
        color: #B9B9B9;
    }
    .educations{
        margin-bottom: 25px;
    }
    
    .swiper-next,.swiper-prev {
        i{
            font-size: 25px;
            color: #B9B9B9;
        }
        
        cursor: pointer;
    }
    .swiper-next-busi,.swiper-prev-busi {
        i{
            font-size: 25px;
            color: #B9B9B9;
        }
        
        cursor: pointer;
    }

    .blog-index{
        background-color: #F3F3F3;
        margin-bottom: 50px;
        .swiper-container {
            width: 100%;
            
            .swiper-wrapper{
                height: 1070px;
            }
            .title-slide{
                margin-top: 25px;
                margin-bottom: 43px;
                h2{
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 46px;
                    color: #141414;
                }       
            }
            .swiper-slide{
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .busi-new {
            height: 50%;
            .busi-item {
                height: 100%;
                .text-busi {
                    padding: 0 7px;
                    width: 343px;
                }
                .text-header {
                    .logo-header {
                        width: 5%;
                        margin-right: 15px;
                        img{
                            width: 100% !important;
                        }
                    }
                    .text-red {
                        font-size: 12px;
                        line-height: 18px;
                        color: #eb5757;
                        border-left: 3px solid #eb5757;
                        padding-left: 15px;
                        margin: 0;
                    }
                }
                a {
                    h3 {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: -0.2px;
                        color: #141414;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                .time-views {
                    font-size: 12px;
                    line-height: 18px;
                    color: #b9b9b9;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    
    
}
ul{
    list-style: none;
    padding: 0;
}


@media (max-width: 768px){
    #index{
        .header-main{
            .slider-header{
                .title{
                    h1{
                        font-size: 36px !important;
                        width: 100% !important;
                    }
                }
                .swiper-button-next{
                    top: 36%;
                }
            }
            
            .section-bottom-slider{
                .title{
                    a{
                        font-size: 12px !important;
                    }
                }
            }
        }
        .library-top{
            margin-top: 50px !important;
            
            .text-new-top{
                .text-header{
                    margin-top: 15px !important;
                    
                }
                .title-new{
                    
                    a{
                        h2{
                            font-size: 30px !important;
                        }
                    }

                }
                
            }
        }
        .slide-library-item{
            .library-item-sub{
                // align-items: center !important;
                a{
                    h3{
                        font-size: 16px !important;
                        margin: 0 !important;
                    }
                }
            }
            
        }
        .educations{
            .busi-new{
                .busi-item{
                    .text-busi{
                        width: 343px;
                    }
                }
            }
            .slide-library-item{
                .library-item-sub{
                    a{
                        h3{
                            font-size: 16px !important;
                            margin: 0 !important;
                        }
                    }
                }
                
            } 
        }
        
        .blog-index{
            .swiper-wrapper{
                height: 100% !important;
            }
            .busi-new {
                .busi-item {
                    .text-busi {
                        width: 343px;
                    }
                    
                }
                .img-busi{
                    width: 100px !important;
                    height: 85px;
                }
                .title-new{
                    h3{
                        font-size: 16px !important;
                    }
                }
            }
            .slide-library-item {
                .library-item-sub {
                    a {
                        h3 {
                            font-size: 16px !important;
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
        .swiper-slide{
            margin-top: 0 !important;
        }
        .swiper-slide-duplicate-prev{
            margin-top: 0 !important;
        }
    }
    
}
@media (max-width: 1023px) and (min-width:992px){
    .blog-index{
        .busi-new{
            .swiper-slide {
                margin-top: 0;
            }
            .busi-item{
                .img-busi{
                    width: 95%;
                }
                .text-busi{
                    
                    width: 320px;
                }
            }
        }   
    }
}
@media (max-width: 1199px) and (min-width:1024px){
    #index{
        .blog-index{
            .busi-new{
                .swiper-slide {
                    margin-top: 0;
                }
                .busi-item{
                    .img-busi{
                        width: 95%;
                    }
                    .text-busi{
                        width: 300px;
                    }
                }
            }  
        }
    }
}
@media (max-width: 460px){
    #index{
        .blog-index{
            .busi-new{
                .swiper-slide {
                    margin-top: 0;
                }
                .busi-item{
                    display: flex;
                    align-items: end;
                    .img-busi{
                        width: 100px;
                        height: 85px;
                        padding: 5px;
                    }
                    .title-new{
                        h3{
                            font-size: 16px;
                            line-height: normal;
                        }
                    }
                }
            }   
        }
    }
}
@media(max-width: 1199px) and (min-width: 1024px){
    #index{
        .community,
        .educations{
            .img-slide-view{
                img{
                    width: 90% !important;
                }
            }
        }
    }
}


@media (max-width: 1200px) and (min-width: 992px){
    .content-woffbill{
        .title{
            line-height: 1.2 !important;
            font-size: 28px !important;
        }
    }
}
@media (max-width: 992px) and (min-width: 768px){
    #index{
        .header-main{
            .slider-header{
                .title{
                    h1{
                        font-size: 40px !important;
                        width: 90% !important;
                    }
                }
            }
            
            .section-bottom-slider{
                .title{
                    a{
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}
@media ( max-width: 576px){
    #index{
        .header-main{
            .content-hot-new{
                .container{
                    margin-top: 20% !important;
                }
            }
            .title{
                width: 90% !important;
                h1{
                    line-height: 50px !important;
                }
            }
            .sub-hot-news{
                margin-top: 20px !important;
                padding-top: 20px !important;
            }
        }
    }
}