body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}
a:hover{
    text-decoration: none !important;
}
img{
    vertical-align: initial !important;
}
ul{
    padding: 0;
    list-style: none;
}
.bg-gray{
    background-color: #F3F3F3;
}
#library-1{
    .sub-title{ 
        a{
            font-size: 12px;
            line-height: 18px;
            display: inline-block;
            cursor: pointer;
        }
        .border-background{
            margin: 6px 6px;
            width: 2px;
        }
    }
    .woffbill-news{
        a{
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image:linear-gradient(10.19deg, #FF0000 -3.56%, #FF9900 104.7%);
        }
        .border-background{
            background-image: linear-gradient(10.19deg, #FF0000 -3.56%, #FF9900 104.7%); 
        }
    }
    .btn-next, .btn-prev{
        i{
            font-size: 25px;
            color: #B9B9B9;
        }
        
        cursor: pointer;
    }
    .library1-top {
        margin-top: 100px;
        .img-new-top {
            img {
                width: 100%;
            }
        }
        .text-new-top {
            .text-header {
                .logo-header {
                    width: 4%;
                    img {
                        width: 100%;
                    }
                    margin-right: 15px;
                }
                h3 {
                    font-size: 12px;
                    line-height: 18px;
                    color: #eb5757;
                    border-left: 3px solid #eb5757;
                    padding-left: 15px;
                    margin: 0;
                }
            }
            .title-new {
                a {
                    h2 {
                        font-weight: 500;
                        font-size: 36px;
                        line-height: 46px;
                        color: #141414;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .content-new {
                p {
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.1px;
                    color: #141414;
                }
            }
            .time-views{
                font-size: 12px;
                line-height: 18px;
                color: #B9B9B9;
            }
        }
    }
    .video-study{
        background-color: #F3F3F3;
        margin-bottom: 50px;
        .swiper-container {
            width: 100%;
            .icon-play-video{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                a{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 15%;
                    }
                }
            }
            .swiper-wrapper{
                height: 1070px;
            }
            .title-slide{
                margin-top: 25px;
                margin-bottom: 43px;
                h2{
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 46px;
                    color: #141414;
                }       
            }
            .swiper-slide{
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .busi-new {
            height: 50%;
            .busi-item {
                height: 100%;
                .text-busi {
                    padding: 0 7px;
                    width: 343px;
                }
                .text-header {
                    .logo-header {
                        width: 5%;
                        margin-right: 15px;
                        img{
                            width: 100% !important;
                        }
                    }
                    .text-red {
                        font-size: 12px;
                        line-height: 18px;
                        color: #eb5757;
                        border-left: 3px solid #eb5757;
                        padding-left: 15px;
                        margin: 0;
                    }
                }
                a {
                    h3 {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: -0.2px;
                        color: #141414;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                .time-views {
                    font-size: 12px;
                    line-height: 18px;
                    color: #b9b9b9;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
        .mfp-bg {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 502;
            overflow: hidden;
            position: fixed;
            background: #0b0b0b;
            opacity: 0.8;
            filter: alpha(opacity=80); }
          
          .mfp-wrap {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 503;
            position: fixed;
            outline: none !important;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden; 
        }
          
          .mfp-container {
            height: 100%;
            text-align: center;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: blue;
            padding: 0 8px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; }
          
          .mfp-container:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle; }
          
          .mfp-align-top .mfp-container:before {
            display: none; }
          
          .mfp-content {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0 auto;
            text-align: left;
            z-index: 505; }
          
          .mfp-inline-holder .mfp-content,
          .mfp-ajax-holder .mfp-content {
            width: 100%;
            cursor: auto; }
          
          .mfp-ajax-cur {
            cursor: progress; }
          
          .mfp-zoom-out-cur,
          .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
            cursor: -moz-zoom-out;
            cursor: -webkit-zoom-out;
            cursor: zoom-out; }
          
          .mfp-zoom {
            cursor: pointer;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in; }
          
          .mfp-auto-cursor .mfp-content {
            cursor: auto; }
          
          .mfp-close,
          .mfp-arrow,
          .mfp-preloader,
          .mfp-counter {
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none; }
          
          .mfp-loading.mfp-figure {
            display: none; }
          
          .mfp-hide {
            display: none !important; }
          
          .mfp-preloader {
            color: #cccccc;
            position: absolute;
            top: 50%;
            width: auto;
            text-align: center;
            margin-top: -0.8em;
            left: 8px;
            right: 8px;
            z-index: 504; }
          
          .mfp-preloader a {
            color: #cccccc; }
          
          .mfp-preloader a:hover {
            color: white; }
          
          .mfp-s-ready .mfp-preloader {
            display: none; }
          
          .mfp-s-error .mfp-content {
            display: none; }
          
          button.mfp-close,
          button.mfp-arrow {
            overflow: visible;
            cursor: pointer;
            background: transparent;
            border: 0;
            -webkit-appearance: none;
            display: block;
            padding: 0;
            z-index: 506; }
          
          button::-moz-focus-inner {
            padding: 0;
            border: 0; }
          
          .mfp-close {
            width: 44px;
            height: 44px;
            line-height: 44px;
            position: absolute;
            right: -40px;
            top: 0;
            text-decoration: none;
            text-align: center;
            opacity: 0.65;
            padding: 0 0 18px 10px;
            color: white;
            font-style: normal;
            font-size: 30px;
            font-family: Arial, Baskerville, monospace; }
            .mfp-close:hover, .mfp-close:focus {
              opacity: 1; }
            .mfp-close:active {
              top: 1px; }
          
          .mfp-close-btn-in .mfp-close {
            color: #333333; }
          
          .mfp-image-holder .mfp-close,
          .mfp-iframe-holder .mfp-close {
            color: white;
            right: -40px;
            text-align: right;
            padding-right: 6px;
            width: 100%; }
          
          .mfp-counter {
            position: absolute;
            top: 0;
            right: 0;
            color: #cccccc;
            font-size: 12px;
            line-height: 18px; }
          
          .mfp-arrow {
            position: absolute;
            top: 0;
            opacity: 0.65;
            margin: 0;
            top: 50%;
            margin-top: -55px;
            padding: 0;
            width: 90px;
            height: 110px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
          
          .mfp-arrow:active {
            margin-top: -54px; }
          
          .mfp-arrow:hover,
          .mfp-arrow:focus {
            opacity: 1; }
          
          .mfp-arrow:before, .mfp-arrow:after,
          .mfp-arrow .mfp-b,
          .mfp-arrow .mfp-a {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            left: 0;
            top: 0;
            margin-top: 35px;
            margin-left: 35px;
            border: solid transparent; }
          .mfp-arrow:after,
          .mfp-arrow .mfp-a {
            opacity: 0.8;
            border-top-width: 12px;
            border-bottom-width: 12px;
            top: 8px; }
          .mfp-arrow:before,
          .mfp-arrow .mfp-b {
            border-top-width: 20px;
            border-bottom-width: 20px; }
          
          .mfp-arrow-left {
            left: 0; }
            .mfp-arrow-left:after,
            .mfp-arrow-left .mfp-a {
              border-right: 12px solid black;
              left: 5px; }
            .mfp-arrow-left:before,
            .mfp-arrow-left .mfp-b {
              border-right: 20px solid white; }
          
          .mfp-arrow-right {
            right: 0; }
            .mfp-arrow-right:after,
            .mfp-arrow-right .mfp-a {
              border-left: 12px solid black;
              left: 3px; }
            .mfp-arrow-right:before,
            .mfp-arrow-right .mfp-b {
              border-left: 20px solid white; }
          
          .mfp-iframe-holder {
            padding-top: 40px;
            padding-bottom: 40px; }
          
          .mfp-iframe-holder .mfp-content {
            line-height: 0;
            width: 63%;
            max-width: 63%; 
            height: 80%;
        }
          
          .mfp-iframe-scaler {
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-top: 56.25%; }
          
          .mfp-iframe-scaler iframe {
            position: absolute;
            top: -3px;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            background: black; 
        }
          .mfp-iframe-holder .mfp-close {
            top: -43px; 
        }
          
          /* Main image in popup */
          img.mfp-img {
            width: auto;
            max-width: 100%;
            height: auto;
            display: block;
            line-height: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 40px 0 40px;
            margin: 0 auto; }
          
          /* The shadow behind the image */
          .mfp-figure:after {
            content: '';
            position: absolute;
            left: 0;
            top: 40px;
            bottom: 40px;
            display: block;
            right: 0;
            width: auto;
            height: auto;
            z-index: -1;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }
          
          .mfp-figure {
            line-height: 0; }
          
          .mfp-bottom-bar {
            margin-top: -36px;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            cursor: auto; }
          
          .mfp-title {
            text-align: left;
            line-height: 18px;
            color: #f3f3f3;
            word-break: break-word;
            padding-right: 36px; }
          
          .mfp-figure small {
            color: #bdbdbd;
            display: block;
            font-size: 12px;
            line-height: 14px; }
          
          .mfp-image-holder .mfp-content {
            max-width: 100%; }
          
          .mfp-gallery .mfp-image-holder .mfp-figure {
                cursor: pointer; 
        }
          
          @media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
            /**
             * Remove all paddings around the image on small screen
             */
            .mfp-img-mobile .mfp-image-holder {
                padding-left: 0;
                padding-right: 0; }
          
            .mfp-img-mobile img.mfp-img {
                padding: 0; }
          
            /* The shadow behind the image */
            .mfp-img-mobile .mfp-figure:after {
                top: 0;
                bottom: 0; }
          
            .mfp-img-mobile .mfp-bottom-bar {
                background: rgba(0, 0, 0, 0.6);
                bottom: 0;
                margin: 0;
                top: auto;
                padding: 3px 5px;
                position: fixed;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box; }
          
            .mfp-img-mobile .mfp-bottom-bar:empty {
                padding: 0; }
          
            .mfp-img-mobile .mfp-counter {
                right: 5px;
                top: 3px; }
          
            .mfp-img-mobile .mfp-close {
                top: 0;
                right: 0;
                width: 35px;
                height: 35px;
                line-height: 35px;
                background: rgba(0, 0, 0, 0.6);
                position: fixed;
                text-align: center;
                padding: 0; 
            }
          
            .mfp-img-mobile .mfp-figure small {
                display: inline;
                margin-left: 5px; 
            } 
        }
        @media all and (max-width: 800px) {
            .mfp-arrow {
                -webkit-transform: scale(0.75);
                transform: scale(0.75); 
            }
            .mfp-arrow-left {
                -webkit-transform-origin: 0;
                transform-origin: 0; 
            }
          
            .mfp-arrow-right {
                -webkit-transform-origin: 100%;
                transform-origin: 100%; 
            }
          
            .mfp-container {
                padding-left: 6px;
                padding-right: 6px; 
            } 
        }
        .mfp-ie7 .mfp-img {
            padding: 0; 
        }
        .mfp-ie7 .mfp-bottom-bar {
            width: 600px;
            left: 50%;
            margin-left: -300px;
            margin-top: 5px;
            padding-bottom: 5px; 
        }
        .mfp-ie7 .mfp-container {
            padding: 0; 
        }
        .mfp-ie7 .mfp-content {
            padding-top: 44px; 
        }
        .mfp-ie7 .mfp-close {
            top: 0;
            right: 0;
            padding-top: 0; 
        }
    
    .swiper-next,.swiper-prev {
        i{
            font-size: 25px;
            color: #B9B9B9;
        }
        
        cursor: pointer;
    }
    .swiper-next-busi,.swiper-prev-busi {
        i{
            font-size: 25px;
            color: #B9B9B9;
        }
        
        cursor: pointer;
    }
    .swiper-slide{
        margin-top: 0 !important;
    }
    .ebook,
    .self-growth,
    .business,
    .document{
        .swiper-container {
            width: 100%;
            height: 100%;
            .title-slide {
                margin-top: 50px;
                margin-bottom: 43px;
                h2 {
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 46px;
                    color: #141414;
                }
                h4 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 46px;
                    color: #141414;
                }
            }
        }

        .swiper-slide {
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            .img-slide-view {
                img {
                    width: 100%;
                }
            }

            .slide-library {
                .img-news {
                    padding: 5px;
                    img {
                        width: 100px;
                        height: 85px;
                    }
                }
                .text-header {
                    .logo-header {
                        width: 7%;
                        img {
                            width: 100%;
                        }
                        margin-right: 15px;
                    }
                    .text-green {
                        font-size: 12px;
                        line-height: 18px;
                        color: #27ae60;
                        border-left: 3px solid #27ae60;
                        padding-left: 15px;
                        margin: 0;
                    }
                    .text-red {
                        font-size: 12px;
                        line-height: 18px;
                        color: #eb5757;
                        border-left: 3px solid #eb5757;
                        padding-left: 15px;
                        margin: 0;
                    }
                }
                a {
                    h3 {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: -0.2px;
                        color: #141414;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                .time-views {
                    font-size: 12px;
                    line-height: 18px;
                    color: #b9b9b9;
                }
                .slide-library-item-center {
                    padding-top: 70px;
                    padding-bottom: 70px;
                }
                .slide-library-item-centers {
                    padding-top: 40px;
                    padding-bottom: 70px;
                }
            }
        }
        .busi-new {
            .busi-item {
                .text-busi {
                    padding: 0 7px;
                    width: 343px;
                }
                .text-header {
                    .logo-header {
                        width: 4%;
                        img {
                            width: 100%;
                        }
                        margin-right: 15px;
                    }
                    .text-red {
                        font-size: 12px;
                        line-height: 18px;
                        color: #eb5757;
                        border-left: 3px solid #eb5757;
                        padding-left: 15px;
                        margin: 0;
                    }
                }
                a {
                    h3 {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: -0.2px;
                        color: #141414;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                .time-views {
                    font-size: 12px;
                    line-height: 18px;
                    color: #b9b9b9;
                }
            }
        }
        margin-top: 30px;
        margin-bottom: 30px;
        
        .tite-slide-busi {
            margin-top: 10px !important;
            margin-bottom: 5px !important;
        }
        .busi-new {
            .busi-item {
                .text-busi {
                    padding: 0 7px;
                    width: 343px;
                }
                .text-header {
                    .logo-header {
                        width: 4%;
                        img {
                            width: 100%;
                        }
                        margin-right: 15px;
                    }
                    .text-red {
                        font-size: 12px;
                        line-height: 18px;
                        color: #eb5757;
                        border-left: 3px solid #eb5757;
                        padding-left: 15px;
                        margin: 0;
                    }
                }
                a {
                    h3 {
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: -0.2px;
                        color: #141414;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                .time-views {
                    font-size: 12px;
                    line-height: 18px;
                    color: #b9b9b9;
                }
            }
        }
        .swiper-slide {
            margin-top: 0 !important;
        }
        .swiper-slide-duplicate-prev {
            margin-top: 0 !important;
        }
    }
    .document-bottom{
        h5{
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
            color: #FF0000;
            margin-bottom: 20px;
        }
        a{
            font-size: 17px;
            line-height: 30px;
            letter-spacing: -0.2px;
            color: #141414;
        }
        .content{
            height: 100%;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .tools{
        margin-bottom: 50px;
        .swiper-container {
            width: 100%;
            height: 100%;
            .title-slide{
                margin-top: 50px;
                margin-bottom: 43px;
                h2{
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 46px;
                    color: #141414;
                }       
            }
        }
          
        .swiper-slide {
            height: auto;
            width: 30*100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            .img-slide-view{
                img{
                    width: 100%;
                }
            }
            
            .slide-library{
                height: 100% !important;
                .img-news{
                    padding: 5px;
                    img{
                        width: 100px;
                        height: 85px;
                    }
                }
                .text-header{
                    .logo-header{
                        width: 5%;
                        img{
                            width: 100%;    
                        }
                        margin-right: 15px;
                    }
                    .text-green{
                        font-size: 12px;
                        line-height: 18px;
                        color: #27AE60;
                        border-left: 3px solid #27AE60;
                        padding-left: 15px;
                        margin: 0;
                    }
                    .text-purple{
                        font-size: 12px;
                        line-height: 18px;
                        color: #9B51E0;
                        border-left: 3px solid #9B51E0;
                        padding-left: 15px;
                    }
                    .text-red{
                        font-size: 12px;
                        line-height: 18px;
                        color: #EB5757;
                        border-left: 3px solid #EB5757;
                        padding-left: 15px;
                        margin: 0;
                    }
                }
                a{
                    h3{
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: -0.2px;
                        color: #141414;
                    }
                    &:hover{
                        text-decoration: none;
                    }
                }
                .time-views{
                    font-size: 12px;
                    line-height: 18px;
                    color: #B9B9B9;
                }
                .slide-library-item-center{
                    padding-top: 70px;
                    padding-bottom: 70px;
                }
                .slide-library-item-centers{
                    padding-top: 40px;
                    padding-bottom: 70px;
                }
            }
            .slide-bg-gray{
                background-color: #F3F3F3;
            }
        }
    }
    .tite-slide-busi {
        margin-top: 10px !important;
        margin-bottom: 5px !important;
    }
    
}
@media (max-width: 768px){
    #library-1{
        .title-slide{
            h2{
                font-size: 30px !important; 
            }
        }
        .library1-top {
            margin-top: 50px !important;
            .text-new-top {
                .text-header {
                    margin-top: 15px !important;
                }
                .title-new {
                    a {
                        h2 {
                            font-size: 30px !important;
                        }
                    }
                }
            }
        }
        .video-study{
            .swiper-wrapper{
                height: 100% !important;
            }
            .busi-new {
                .busi-item {
                    .text-busi {
                        width: 343px;
                    }
                    
                }
                .img-busi{
                    width: 100px !important;
                    height: 85px;
                }
                .title-new{
                    h3{
                        font-size: 16px !important;
                    }
                }
            }
            .slide-library-item {
                .library-item-sub {
                    a {
                        h3 {
                            font-size: 16px !important;
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
        .ebook,
        .self-growth,
        .business,
        .document {
            .busi-item {
                .text-busi {
                    width: 343px;
                }
            }
        }
        .document-bottom{
            a{
                font-size: 15px;
            }
        }
        .slide-library-item {
            .library-item-sub {
                a {
                    h3 {
                        font-size: 16px !important;
                        margin: 0 !important;
                    }
                }
            }
        }
        .tools{
            
            .busi-new{
                .busi-item{
                    .text-busi{
                        width: 343px;
                    }
                }
            }
            .slide-library-item{
                .library-item-sub{
                    a{
                        h3{
                            font-size: 16px !important;
                            margin: 0 !important;
                        }
                    }
                }
                
            } 
        }
        .swiper-slide{
            margin-top: 0 !important;
        }
        .swiper-slide-duplicate-prev{
            margin-top: 0 !important;
        }
    }
    
}
@media (min-width: 769px) and (max-width: 1200px) {
    #library-1 {
        .library1-top {
            margin-top: 50px !important;
        }
    }
}
@media (max-width: 1023px) and (min-width:992px){
    #library-1{
        .video-study,
        .ebook,
        .business,
        .self-growth,
        .document{
            .busi-new{
                .swiper-slide {
                    margin-top: 0;
                }
                .busi-item{
                    .img-busi{
                        width: 95%;
                    }
                    .text-busi{
                        
                        width: 320px;
                    }
                }
            }   
        }
    }
}
@media (max-width: 1199px) and (min-width:1024px){
    #library-1{
        .video-study,
        .ebook,
        .self-growth,
        .business,
        .document{
            .busi-new{
                .swiper-slide {
                    margin-top: 0;
                }
                .busi-item{
                    .img-busi{
                        width: 95%;
                    }
                    .text-busi{
                        width: 300px;
                    }
                }
            }  
        }
        .tools{
            .img-slide-view{
                img{
                    width: 90% !important;
                }
            }
        }
    }
}
@media (max-width: 460px){
    #library-1{
        .video-study,
        .ebook,
        .self-growth,
        .business,
        .document{
            .busi-new {
                .swiper-slide {
                    margin-top: 0;
                }
                .busi-item {
                    display: flex;
                    align-items: end;
                    .img-busi {
                        width: 100px;
                        height: 85px;
                        padding: 5px;
                    }
                    .title-new {
                        h3 {
                            font-size: 16px;
                            line-height: normal;
                        }
                    }
                }
            }  
        }
    }
}